@import url(base.css);
.title{
    font-weight: lighter;
    font-size: 3vw;
    text-align: center;
}
.section{
    margin-top: 10rem;
}
.nav .show{
    right: -5%;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    position: relative;
}
.nav__menu__closeLogo{
    display: none;
}
.nav__menu__items{
    display: flex;
}
.nav__menu__items__item{
    margin: 0 1rem;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
}
.nav__menu__items__item a{
   font-family: var(--font-p); 
}
.nav__menu__items__item::after{
    content:"";
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--pink-color);
    transition: left .5s ease-in-out;
}

.nav__menu__items__item:hover::after{
    left: 0;
}
.nav__menu__menuLogo{
    display:none;
}

.cover{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    margin: 4rem 0;
}
.cover__info__title{
    font-size: 4rem;
    margin-top: 10%;
}
.cover__info__phrase{
    font-family: var(--font-p) ;
    margin-top: 2rem;
    font-size: 2rem;
}

.cover__info__button{
    background-color: var(--pink-color);
    border:none;
    border-radius: 2rem;
    color: #fff;
    padding: 3% 9%;
    margin: 3rem 0;
    transition: transform .5s ease-in-out;
    font-weight: bold;
}
.cover__info__button:hover{
    transform: scale(1.1,1.1);
    
}

.cover__info__social {
    margin-top: 10%;
}
.cover__info__social__link{
    margin-right:  3rem;
}

.cover__image img{
    width:  100%;
    height: auto;
}



.catalog__grid{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: 2rem 0;
    /*grid-auto-columns: 250px;*/
    grid-auto-flow: dense;
}
.catalog__card{
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    background-color: rgba(190, 190, 190, 0.436); 
    border-radius: 2rem;
    /*box-shadow: 2px 2px 20px 10px rgba(128, 128, 128, 0.358);*/
} 
.catalog .featured{
    grid-row: span 2;
}
.catalog__card__img{
    width:    90%;
    margin: auto;
} 
.catalog__card__info__title{
    font:1rem var(--font-tittle);
    text-align: center;
}
.catalog__card__info__price{
    font: bold 1.5rem  var(--font-p);
    margin-top: 1rem;
}

.items{
    padding: 0 5%;
    margin-top: 8%;
}
.items__grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap:4rem;
    margin-top: 5%;
}

.items__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.items__item__img{
    border-radius: 50%;
    width: 80%;
}
.items__item__info {
    text-align: center;
    margin-top: 10%;
}
.items__item__info__title{
    font-size: 2em;
    font-family: var(--font-p);
    font-weight: lighter;
    margin: 1rem 0;
}
.items__item__info__phrase{
    color: rgb(141, 141, 141);
    line-height: 1.5;
}

.ourChefs{
    margin-top: 15rem;
}

.videoInfo{
    margin-top: 10%;
    position: relative;
    padding-bottom: 56.25%;
    max-width: 100%;
}

.videoInfo__video{
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reviews{
    margin-top: 5rem;
}
.reviews__title{
    text-align: left;
}
.reviews__card{
    margin-top:5rem;
    display: flex;
    width: 60vw;
    align-items: center;
}
.reviews__card__img{
    width: 20rem;
    height: auto;
}
.reviews__card__info{
    padding-left: 2rem;
}
.reviews__card__info__name{
    font-family: var(--font-p);
    font-size: 1rem;
}
.reviews__card__info__order{
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}
.reviews__card__info__review{
    line-height: 1.5;
    color: rgb(141, 141, 141);;
    font-size: 1.2rem;
}


/*MEDIA QUERIES*/
@media (max-width: 1025px){
    .title{
        font-size: 2rem;
    }
    .section{
        margin-top: 10rem;
    }

    .nav{
        align-items: flex-start;
        width: 85vw;
    }
    .nav__menu__searchLogo{
        display: none;
    }
    .nav__menu{
        display: flex;
        padding: 0 .5rem 1.5rem;
        position: absolute;
        /*transform: scale(0,1);
        transform-origin: top right;*/
        transition:   .5s ease;
        right: -100%;
        background-color: var(--background-color);
        border-radius: 1.5rem;
    }
    .nav__menu__closeLogo{
        display: block;
    }
    .nav__menu__items{
        flex-direction: column;
    }
    .nav__menu__menuLogo{
        display: block;
    }

    
    .cover__info__title{
        font-size: 2.5rem;
    }
    
    .cover__info__social {
        margin-top: 0;
    }
    .cover__info__social__link{
        margin-right: 1rem;
    }
   
    .items__grid{
        grid-gap: 2rem;
    }
    .items__item__info__title{    
        
        font-size:  1.2rem ;
    }
    .items__item__info__phrase{
        padding: 0;
        font-size: 1rem;
    }
    .items__item__img{
        
        width: 100%;
    }

    .ourChefs{
        margin-top: 12rem;
    }

    .reviews__card{
        margin-top: 2rem;
        width: 100%;
    }
    .reviews__title{
        text-align: center;
    }
    .reviews__card__info__name{
        font-size: 1.2rem;
    }
    .reviews__card__info__order{
        font-size: 1rem;
    }
    .reviews__card__info__review{
        font-size: 1rem;
    }

}

@media (max-width: 426px){
    
    .title{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .section{
        margin-top: 8rem;
    }


    .cover{
        margin-top: 4rem;
    }
    .cover__info{
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover__info__title{
        font-size: 2rem;
        text-align: center;
    }
    .cover__info__phrase{
        font-size: 1rem;
    }
    .cover__info__social{
        margin: 5% ;
    }
    .cover__info__social__link{
        margin: 1rem;
    }


   
    .items__grid{
        grid-template-columns: 1fr;
        margin: 0 -9vw;
    }
    .items__item{
        flex-direction: row;
        margin-top:10%;
    }
    .items__item__img{
        width: 45%;
    }
    .items__item__info{    
        text-align: left;
        margin: 0 1rem;
    }
    

    .catalog__card{
        background-color: inherit;
    }
    .catalog__card__info__title{
        text-align: left;
    }
    .catalog__card__info__price{
        font: bold 1rem  var(--font-p);
        margin-top: 1rem;
    }
    
    
    .reviews__card{
        flex-direction: column;
        align-items: center;
    }
    .reviews__card__img{
        width: 80vw;
        height: auto;
    }
    .reviews__card__info{
        padding:1.5rem 0;
    }
    .reviews__card__info__review{
        font-size: 1rem;
    }
    
}